:root{
    --mw: #fff;
    --sw: #efefef;

    --mgy: #75797a;
    --sgy: #E0E0E0;

    --mbk: #000;
    --sbk: #181a1b;

    --mr: #a91111;
    --sr: #e62259;

    --mo: #fc4c02;
    --so: #e9492a;

    --my: #fff12a;
    --sy: #fff786;

    --mg: #3ab38a;
    --sg: #a0f98a;

    --mb: #1e90ff;
    --sb: #74c7cd;

    --mp: #ae30c8;
    --sp: #e496f5;
}